@charset "utf-8";
/* CSS Document */
*{}

body {
	/*teacher's padding*/
	margin: 0;
    padding: 0;
	/* my padding:
	padding-top: 0vw;
	padding-bottom: 10vw;
	padding-right: 10vw;	
	padding-left: 10vw;
	*/
	background: #667E59; /* or use background-color*/
	/*old color = #F9F3D7 */
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
h1 {
	text-align: center;
	color: #51613b;	
	font-size: 55px;
}
h1.title{
	display: block;
	margin-bottom: 0;
	margin-top: 0;
	min-height: 300px;
	background-image: url("images/field.jpg");
	padding-top: 50px;
	font-size: 130px;
	text-align: center;
	font-variant-caps: all-small-caps;
	font-style: oblique;
	color: #51613b;
}
h2 {
	color: #283a1b;
}
h3, h4 {
	color: #435430;
}
p{
	text-align: justify;
	color: #273A3A;
}
p img { 
	padding: 0; 
	max-width: 100%; 
}
em.cap {
	text-weight: bold;
	font-style: normal;
}
table, th, td {
		border:1px solid black;
		border-collapse: collapse;
		padding-left: 15px;
		padding-right:15px;
	}
th {
  		background-color: #83A083;
}
nav{
	background-color: #E2E7CC;
	text-align: center;
	color: darkcyan;
	padding-bottom: 3px;
	align-content: center;
}
.site-nav{
	border: 3px solid #A9BCC0;
	background: #D9E1E3;
}
.page-nav{
	border: 3px solid #B3C0A9;
}
.site-nav a, .page-nav a{
	text-decoration: none;
}
a:link {
  color:darkcyan;
}
a:visited {
  color: #004D4D;
}
a:hover {
  color: hotpink;
}
a:active {
  color:aquamarine;
}
img.alignright { 
	padding: 4px; 
	margin: 0 0 2px 7px; 
	display: inline; 
}
img.alignleft { 
	padding: 4px; 
	margin: 0 7px 2px 0; 
	display: inline; 
}
img.aligncenter { 
	display:inline;
	margin-left: auto; 		
	margin-right: auto; 
}
.alignright { 
	float: right; 
	padding-left: 5px;
}
.alignleft { 
	float: left; 
	padding-right: 5px;
}
.aligncenter { 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
}
.wp-caption { 
	margin: 5px; 
	padding: 5px; 
	border: solid 1px #F9F3D7; 
	background: #F9F3D7; 
	font-size:90%; 
	color: black 
}

.gallery{ 
	text-align: center; 
	margin:50px auto;
}	
.gallery figure{ 
	margin:0px 20px;
	display:inline-block;
	/*text-decoration:none;
	color:black;*/
	text-overflow: inherit;
	color: #273A3A;
}
.in {
	margin: 0px;
	display:inline-block;
	/* text-decoration:none; 
	color:black;*/		
	color: #273A3A;
	word-wrap: normal;
	text-align:center; 
	
}
div{
	word-wrap: break-word;
}
.wrapper{
	background: #F9F3D7;
    width: 65%;  /* give the element a fixed width */ 
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
	/* adds 20 px top and bottom, and 40 px, left and right*/
}
figure{
	display: inline-block;
}
figurecaption {
	display: block;
	overflow-wrap: break-word;	
	color: #273A3A;
}
div.block{
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	/*border: 5px solid black;*/
	max-block-size: 100%;
	min-height: 200px;
	
}
.inline {
	display: inline;
}

/* Style.css */
/*body { 
	font-family: Arial, sans-serif; 
	margin: 0; 
	padding: 20px; 
	background-color: #197819; 
} */

/* Form container */
.container { 
	max-width: 600px; 
	margin: 0 auto; 
	padding: 20px; 
	background-color: #E2E7CC;
	border-radius: 10px; 
	box-shadow: 0 0 10px
		rgba(0, 0, 0, 0.1); 
} 
label { 
	margin-top: 1rem; 
} 
input { 
	padding: 10px; 
	box-sizing: border-box; 
	margin: 1.2rem 0;
	text-align: justify;
	color: #273A3A;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
} 
/* Styling specific input types */
input[type="text"], input[type="number"] { 
	box-sizing: border-box; 
	padding: 10px; 
	width: 100%; 
} 
input[type="textarea"] { 
	/*width: 100%; 
	height: 100px; 
	word-wrap: break-word;*/
	width: 100%;
  	height: 150px;
  	padding: 12px 20px;
  	box-sizing: border-box;
  	border: 2px solid #ccc;
  	border-radius: 4px;
  	background-color: #f8f8f8;
  	resize: none;
} 
textarea{
	width: 100%;
  	height: 150px;
  	padding: 12px 20px;
	box-sizing: border-box; 
	margin: 1.2rem 0;
  	resize: none;
	text-align: justify;
	color: #273A3A;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	
}
button { 
	width: 100%; 
	padding: 10px; 
	background-color: olive; 
	color: white; 
	border: none; 
	border-radius: 5px; 
	cursor: pointer; 
} 
button:hover { 
	background-color: olivedrab; 
} 
.error { 
	border: 3px solid red; 
} 
.errorText { 
	padding: 1rem; 
	border: 2px solid red; 
	box-shadow: rgba(149, 157, 165, 0.2) 
		0px 4px 12px; 
	font-size: 1.2rem; 
	color: #273A3A;
} 
.successText { 
	padding: 1rem; 
	border: 4px solid green; 
	box-shadow: rgba(149, 157, 165, 0.2) 
		0px 4px 12px; 
	font-size: 1.2rem; 
	color: #273A3A;
} 
